node_modules/
target/
.anchor/
.local_keys/
__MACOSX/
id.json
out.txt
.DS_Store
.env
.env.*
*.log
dist/
build/




# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
# IDE
.vscode/

# Env
.env

# Logs
*.log

# Runtime data (VERY IMPORTANT)
backend/data/
backend/data_*/
backend/backend/data_*/


ngrok.exe


# Logs
*.log
logs.txt

# Python
venv/
__pycache__/
*.pyc
.env

# Node
node_modules/

# Build/cache
.next/
dist/
build/
.expo/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


